<app-master-data-list
  [data]="data"
  [columns]="columns"
  [loading]="isLoading"
  [pageInfo]="pageInfo"
  [actions]="actions"
  (pageChange)="onPageChange($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (executeAction)="onAction($event)"
>
  <ng-container actions-left>
    <app-master-data-search (search)="onSearch($event)"></app-master-data-search>
  </ng-container>
  <ng-container actions-right>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      (click)="openCreatePanel()"
      *ngIf="perms.permissionsOnly(PK.SETTINGS_EDIT_ALL)"
    >
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>

<nz-drawer
  [nzMask]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzVisible]="showCreateDepartment"
  nzPlacement="right"
  [nzTitle]="(department?.id ? 'departments.editDepartment' : 'departments.createDepartment') | translate"
  (nzOnClose)="closeCreatePanel()"
>
  <form class="mt-3" [formGroup]="departmentFormGroup" (ngSubmit)="submitDepartmentDraft()">
    <nz-form-item>
      <nz-form-label nzRequired>{{ 'tables.department.departmentName' | translate }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'departments.departmentNameValidation' | translate">
        <input
          class="m-b-15"
          nz-input
          formControlName="name"
          autocomplete="off"
          [placeholder]="'departments.departmentNameDescription' | translate"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{ 'tables.department.description' | translate }}</nz-form-label>
      <nz-form-control>
        <input class="m-b-15" nz-input formControlName="description" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{ 'tables.department.status' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select class="m-b-15" style="width: 100%" formControlName="active">
          <nz-option [nzValue]="true" [nzLabel]="'core.active' | translate"></nz-option>
          <nz-option [nzValue]="false" [nzLabel]="'core.inactive' | translate"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>{{ 'departments.appliesToRoles' | translate }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'departments.rolesValidation' | translate">
        <nz-select
          class="m-b-15"
          style="width: 100%"
          nzMode="multiple"
          formControlName="appliedRoleCodes"
          [nzPlaceHolder]="'departments.selectRoles' | translate"
        >
          <nz-option *ngFor="let role of roles" [nzValue]="role.code" [nzLabel]="role.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{ 'departments.defaultForRoles' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select
          class="m-b-15"
          style="width: 100%"
          nzMode="multiple"
          formControlName="defaultRoleCodes"
          [nzPlaceHolder]="'departments.selectRoles' | translate"
        >
          <nz-option *ngFor="let role of roles" [nzValue]="role.code" [nzLabel]="role.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nzShape="round" class="full-width" [disabled]="departmentFormGroup.invalid || isLoading">
      {{ department?.id ? ('departments.editDepartment' | translate) : ('departments.createDepartment' | translate) }}
    </button>
  </form>
</nz-drawer>
