<div class="user-header" *ngIf="userTitle">
  <h1>{{ userTitle }}</h1>
</div>

<nz-tabset *ngIf="user" nzSize="large" [(nzSelectedIndex)]="selectedTabIndex">
  <nz-tab *ngIf="isTherapist" [nzTitle]="'core.calendar' | translate">
    <app-user-calendar *ngIf="selectedTabIndex === 0" [user]="user"></app-user-calendar>
  </nz-tab>
  <nz-tab *ngIf="isTherapist" nzTitle="Historia de supervision">
    <app-clinical-follow-up-list
      *ngIf="selectedTabIndex === 1"
      [therapistId]="user?.id"
      [sessionKind]="CSK.SUPERVISION"
      title="Historia de supervision"
    ></app-clinical-follow-up-list>
  </nz-tab>
  <nz-tab *ngIf="hasReportsTab" [nzTitle]="'core.reports' | translate">
    <app-master-data-list
      *ngIf="selectedTabIndex === reportsTabIndex"
      [columns]="reportColumns"
      [data]="reports"
      [loading]="reportsLoading"
      (rowClick)="generateReport($event)"
    ></app-master-data-list>
  </nz-tab>
  <nz-tab nzTitle="Datos del perfil">
    <nz-tabset *ngIf="selectedTabIndex === profileTabIndex" nzSize="small" [(nzSelectedIndex)]="profileDataTabIndex">
      <nz-tab [nzTitle]="'core.profile' | translate">
        <app-user-form
          *ngIf="profileDataTabIndex === 0"
          section="profile"
          [showTitle]="false"
          [userOverride]="user"
          [roleCodeOverride]="roleCode"
        ></app-user-form>
      </nz-tab>
      <nz-tab nzTitle="Settings">
        <app-user-form
          *ngIf="profileDataTabIndex === 1"
          section="settings"
          [showTitle]="false"
          [userOverride]="user"
          [roleCodeOverride]="roleCode"
        ></app-user-form>
      </nz-tab>
      <nz-tab *ngIf="isTherapist" [nzTitle]="'menu.supervisors' | translate">
        <app-master-data-list
          *ngIf="profileDataTabIndex === 2"
          [data]="supervisors"
          [columns]="supervisorColumns"
          [loading]="supervisorsLoading"
          [actions]="supervisorActions"
          (executeAction)="onSupervisorAction($event)"
        >
          <ng-container actions-right>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              (click)="toggleSupervisorAssignDrawer()"
              *ngIf="perms.permissionsOnly(PK.USERS_EDIT_DEPARTMENT)"
            >
              <i nz-icon nzType="plus"></i>
            </button>
          </ng-container>
        </app-master-data-list>
      </nz-tab>
      <nz-tab [nzTitle]="'core.departments' | translate">
        <nz-list *ngIf="profileDataTabIndex === (isTherapist ? 3 : 2)" [nzDataSource]="user?.departments || []" [nzRenderItem]="department">
          <ng-template #department let-item>
            <nz-list-item>{{ item.name }}</nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab *ngIf="isTherapist" nzTitle="Notificaciones">
        <app-notification-preferences *ngIf="profileDataTabIndex === 4" [therapistId]="user?.id"></app-notification-preferences>
      </nz-tab>
      <nz-tab nzTitle="Consentimiento informado">
        <app-informed-consent-responses-list
          *ngIf="profileDataTabIndex === (isTherapist ? 5 : 3)"
          [userId]="user?.id"
        ></app-informed-consent-responses-list>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Más" (nzSelect)="getAssessments()">
    <nz-tabset *ngIf="selectedTabIndex === moreTopTabIndex" nzSize="small" [(nzSelectedIndex)]="moreTabIndex">
      <nz-tab [nzTitle]="'core.assessments' | translate" (nzSelect)="getAssessments()">
        <app-master-data-list
          *ngIf="moreTabIndex === 0"
          [columns]="assessmentColumns"
          [data]="assessments"
          [loading]="assessmentsLoading"
        ></app-master-data-list>
      </nz-tab>
      <nz-tab *ngIf="isTherapist" nzTitle="Sesiones">
        <app-sessions-list *ngIf="moreTabIndex === 1" [therapistId]="user?.id" [sessionKind]="CSK.SUPERVISION"></app-sessions-list>
      </nz-tab>
      <nz-tab *ngIf="isTherapist" nzTitle="Ciclos">
        <app-cycles-list *ngIf="moreTabIndex === 2" [therapistId]="user?.id" [cycleKind]="CSK.SUPERVISION"></app-cycles-list>
      </nz-tab>
      <nz-tab nzTitle="Automatizaciones aplicadas">
        <app-applied-automations-list *ngIf="moreTabIndex === (isTherapist ? 3 : 1)" [userId]="user?.id"></app-applied-automations-list>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
</nz-tabset>

<nz-drawer
  [nzWidth]="820"
  [nzMask]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzVisible]="showSupervisorAssignDrawer"
  nzPlacement="right"
  [nzTitle]="'menu.supervisors' | translate"
  (nzOnClose)="toggleSupervisorAssignDrawer()"
>
  <div>
    <h5>{{ 'menu.supervisors' | translate }}</h5>
  </div>
  <form nz-form class="search-form">
    <nz-form-item class="form-item">
      <nz-form-label nzFor="supervisor">{{ 'menu.supervisors' | translate }}</nz-form-label>
      <nz-form-control class="form-control">
        <nz-select
          [(ngModel)]="selectedSupervisorId"
          name="supervisor"
          [nzLoading]="supervisorsLoading"
          nzShowSearch
          nzPlaceHolder="Supervisor"
          class="assignment-select"
        >
          <nz-option
            *ngFor="let supervisor of availableSupervisors"
            [nzValue]="supervisor.id"
            [nzLabel]="formatUserName(supervisor)"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
  <button nz-button nzType="primary" [disabled]="!selectedSupervisorId" (click)="assignSupervisor()">
    <i nz-icon nzType="plus"></i>
    {{ 'core.add' | translate }}
  </button>
</nz-drawer>
