<button style="margin-bottom: 16px" nz-button nzType="primary" (click)="goBack()">Back</button>

<article nz-row [nzGutter]="20">
  <section nz-col nzSpan="10">
    <form nz-form [formGroup]="assessmentForm" (submit)="onSubmitAssessment()">
      <nz-form-item>
        <nz-form-label>Objetivo de la Evaluación</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="targetRoleCode"
            [ngModelOptions]="{standalone: true}"
            [nzDisabled]="!editMode"
            (ngModelChange)="onTargetRoleChange($event)"
          >
            <nz-option *ngFor="let role of availableRoles" [nzValue]="role.code" [nzLabel]="role.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="targetType === 'patient'">
        <nz-form-label nzFor="patient">{{ 'planAssessment.patient' | translate }}</nz-form-label>
        <nz-form-control>
          <app-patient-picker
            [selectedPatient]="selectedPatient"
            [readonly]="!editMode"
            (selectPatient)="onPatientSelect($event)"
          ></app-patient-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="targetType === 'user'">
        <nz-form-label nzFor="user">Usuario</nz-form-label>
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzServerSearch
            nzAllowClear
            nzPlaceHolder="Search..."
            [nzShowArrow]="false"
            [nzDisabled]="!editMode"
            formControlName="targetUserId"
            (nzOnSearch)="searchTargetUsers($event)"
            (ngModelChange)="onTargetUserOptionSelect($event)"
          >
            <nz-option
              *ngFor="let user of targetUsers"
              [nzValue]="user.id"
              [nzLabel]="user.firstName + ' ' + user.lastName"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Tipo de evaluación</nz-form-label>
        <nz-form-control>
          <nz-select
            [nzBorderless]="!editMode"
            class="input-class"
            [nzDisabled]="!editMode"
            [(ngModel)]="selectedAssessment"
            formControlName="assessmentTypeId"
          >
            <nz-option *ngFor="let data of data" [nzLabel]="data.name" [nzValue]="data.id">{{ data.name }}</nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Nombre de la evaluación (opcional)</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" [readonly]="!editMode" placeholder="Si se deja vacío se usará el tipo de evaluación" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="clinician">
          {{ targetType === 'patient' ? 'Administradores del caso' : 'Supervisores' }}
        </nz-form-label>
        <nz-form-control>
          <nz-select
            [nzBorderless]="!editMode"
            [nzDisabled]="!editMode"
            [(ngModel)]="selectedResponsibleUserIds"
            (ngModelChange)="onResponsibleUsersChange($event)"
            formControlName="responsibleUserIds"
            nzMode="multiple"
            nzAllowClear
            nzShowSearch
            nzNotFoundContent="No hay responsables disponibles para el objetivo seleccionado."
          >
            <nz-option
              *ngFor="let user of responsibleUserOptions"
              [nzValue]="user.id"
              [nzLabel]="userLabel(user)"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 15px">
        <nz-input-group>
          <h5>¿Quién Responde?</h5>
          <nz-select
            formControlName="informantType"
            [nzDisabled]="!editMode"
            [(ngModel)]="typeSelected"
            (ngModelChange)="onSelectChange($event)"
          >
            <nz-option *ngFor="let role of availableRoles" [nzValue]="role.code" [nzLabel]="role.name"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group>
          <h5>Usuario que responde</h5>
          <nz-select
            [nzBorderless]="!editMode"
            class="input-class"
            [nzDisabled]="!editMode"
            [(ngModel)]="selectedInformant"
            formControlName="responderUserId"
            (ngModelChange)="applySelectedResponder($event)"
          >
            <nz-option *ngFor="let data of responderOptions" [nzLabel]="data.label" [nzValue]="data.value">{{
              data.label
            }}</nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-item>

      <!-- Start Update -->
      <div *ngIf="isUpdate" class="date-picker">
        <h5 class="evaluation-title">Evaluation</h5>
        <nz-form-item style="margin-top: 14px">
          <nz-input-group class="date-picker1">
            <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
            <nz-date-picker
              [nzBorderless]="!editMode"
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm"
              [nzDisabled]="!editMode"
              [(ngModel)]="deliveryDate"
              formControlName="deliveryDate"
              (ngModelChange)="onChangeDelivery($event)"
            ></nz-date-picker>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group class="date-picker1">
            <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
            <nz-date-picker
              [nzBorderless]="!editMode"
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm"
              [nzDisabled]="!editMode"
              [(ngModel)]="expireDate"
              formControlName="expirationDate"
              (ngModelChange)="onChangeExpire($event)"
            ></nz-date-picker>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group class="date-picker1">
            <h5>Recordatorios después de la activación</h5>
            <div class="unit-row">
              <input
                [disableControl]="!editMode"
                nz-input
                formControlName="reminderMinutes"
                placeholder="10, 15, 20"
              />
              <nz-select formControlName="reminderUnit" [nzDisabled]="!editMode">
                <nz-option *ngFor="let unit of timeUnits" [nzValue]="unit.value" [nzLabel]="unit.label"></nz-option>
              </nz-select>
            </div>
          </nz-input-group>
        </nz-form-item>
      </div>
      <!-- End Update -->

      <!-- Start Create -->
      <div *ngIf="!isUpdate && datesFieldAsFormArray.controls.length" formArrayName="dates">
          <div [formGroupName]="0" >
              <div class="date-picker">
                <nz-form-item style="margin-top: 14px">
                  <nz-input-group class="date-picker1">
                    <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
                    <nz-date-picker
                      [nzBorderless]="!editMode"
                      nzShowTime
                      nzFormat="yyyy-MM-dd HH:mm"
                      [nzDisabled]="!editMode"
                      formControlName="deliveryDate"
                    ></nz-date-picker>
                  </nz-input-group>
                </nz-form-item>
                <nz-form-item>
                  <nz-input-group class="date-picker1">
                    <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
                    <nz-date-picker
                      [nzBorderless]="!editMode"
                      nzShowTime
                      nzFormat="yyyy-MM-dd HH:mm"
                      [nzDisabled]="!editMode"
                      formControlName="expirationDate"
                    ></nz-date-picker>
                  </nz-input-group>
                </nz-form-item>
                <nz-form-item>
                  <nz-input-group class="date-picker1">
                    <h5>Recordatorios después de la activación</h5>
                    <div class="unit-row">
                      <input
                        [disableControl]="!editMode"
                        nz-input
                        formControlName="reminderMinutes"
                        placeholder="10, 15, 20"
                      />
                      <nz-select formControlName="reminderUnit" [nzDisabled]="!editMode">
                        <nz-option *ngFor="let unit of timeUnits" [nzValue]="unit.value" [nzLabel]="unit.label"></nz-option>
                      </nz-select>
                    </div>
                  </nz-input-group>
                </nz-form-item>
              </div>
          </div>
      </div>
      <!-- End Create -->

      <nz-form-item>
        <nz-input-group>
          <h5>{{ targetType === 'patient' ? 'Nota clínica de evaluación' : 'Nota de supervisión de evaluación' }}</h5>
          <nz-textarea-count [nzMaxCharacterCount]="200" placeholder="Write notes">
            <textarea formControlName="note" nz-input [disableControl]="!editMode"></textarea>
          </nz-textarea-count>
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <ng-container *ngIf="editMode">
            <button nz-button nzType="primary" [disabled]="!assessmentForm.valid">Submit</button>
            <button nz-button type="button" (click)="editMode = !editMode">Cancel</button>
          </ng-container>
          <button
            nz-button
            nzType="primary"
            type="button"
            *ngIf="!editMode && perms.permissionsOnly(PK.ASSESSMENTS_EDIT_DEPARTMENT)"
            (click)="editMode = !editMode"
          >
            Edit
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>
  <section nz-col nzSpan="14" class="questionnaires">
    <h4>Contenido de evaluación</h4>
    <nz-select
      style="width: 100%; margin-bottom: 12px;"
      [nzDisabled]="!editMode"
      [(ngModel)]="assessmentContentType"
      (ngModelChange)="onAssessmentContentTypeChange($event)"
    >
      <nz-option [nzValue]="ACT.QUESTIONNAIRE" nzLabel="Cuestionario"></nz-option>
      <nz-option [nzValue]="ACT.QUESTIONNAIRE_BUNDLE" nzLabel="Paquete de cuestionarios"></nz-option>
      <nz-option [nzValue]="ACT.RANDOMIZATION" nzLabel="Randomización"></nz-option>
    </nz-select>
    <app-questionnaire-selection
      *ngIf="assessmentContentType === ACT.QUESTIONNAIRE"
      [readonly]="!editMode"
      [singleSelection]="true"
      [departmentIds]="targetDepartmentIds()"
      [disabledMessage]="hasContentTarget() ? '' : contentTargetMessage"
      [selectedQuestionnaires]="selectedQuestionnaires"
      (selectionChange)="onQuestionnaireSelected($event)"
    ></app-questionnaire-selection>
    <nz-alert
      *ngIf="assessmentContentType !== ACT.QUESTIONNAIRE && !hasContentTarget()"
      nzType="info"
      nzShowIcon
      [nzMessage]="contentTargetMessage"
      style="margin-bottom: 12px;"
    ></nz-alert>
    <nz-select
      *ngIf="assessmentContentType === ACT.QUESTIONNAIRE_BUNDLE && hasContentTarget()"
      style="width: 100%;"
      nzPlaceHolder="Select your bundle..."
      nzNotFoundContent="No hay contenido disponible para los departamentos seleccionados."
      [nzDisabled]="!editMode"
      [ngModel]="listOfSelectedBundles && listOfSelectedBundles[0]"
      (ngModelChange)="onBundleSelection($event)"
    >
      <nz-option *ngFor="let option of listOfBundles" [nzLabel]="option?.node?.name" [nzValue]="option?.node?._id"></nz-option>
    </nz-select>
    <nz-select
      *ngIf="assessmentContentType === ACT.RANDOMIZATION && hasContentTarget()"
      style="width: 100%;"
      nzShowSearch
      nzPlaceHolder="Seleccionar randomización..."
      nzNotFoundContent="No hay contenido disponible para los departamentos seleccionados."
      [nzDisabled]="!editMode"
      [ngModel]="listOfSelectedRandomizations && listOfSelectedRandomizations[0]"
      (ngModelChange)="onRandomizationSelection($event)"
    >
      <nz-option *ngFor="let randomization of listOfRandomizations" [nzLabel]="randomization.name" [nzValue]="randomization.id"></nz-option>
    </nz-select>
    <br />
    <br />
  </section>
</article>
<hr>
<div style="margin-top: 15px; margin-bottom: 15px;">
  <h5 *ngIf="fullAssessment?.uuid !== null && fullAssessment?.uuid !== undefined"><span nz-icon nzType="link" nzTheme="outline"></span> Questionnaire Link</h5>
  <br />
</div>
<div class="link-container" *ngIf="fullAssessment?.uuid !== null && fullAssessment?.uuid !== undefined">
  <a target="_blank" [href]="assessmentUrl">{{ this.assessmentUrl?.toString().slice(0, 50) }}...</a>
  <button style="margin-left: 10px;" nz-button nzType="default" nzShape="circle"><span (click)="copyAssessmentLink(this.assessmentUrl)" nz-icon nzType="copy" nzTheme="outline"></span></button>
</div>
