<button nz-button routerLink="/psira/notifications/email-templates" nzType="secondary">Go back</button>
<div nz-row>
    <div nz-col nzSpan="24">
        <form nz-form [formGroup]="emailForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">{{'emailTemplates.name' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input formControlName="name" nz-input name="name" type="text" id="name">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">{{'emailTemplates.subject' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input formControlName="subject" nz-input name="subject" type="text" id="subject">
                </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Emisor</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input formControlName="senderName" nz-input name="senderName" type="text" id="senderName" placeholder="PSIRA">
                </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">{{'emailTemplates.body' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <div class="template-tools">
                    <button nz-button nzSize="small" type="button" (click)="showPreview()">Previsualizar</button>
                    <button nz-button nzSize="small" type="button" (click)="showShortcuts()">Variables disponibles</button>
                  </div>
                  <angular-editor [config]="editorConfig" [placeholder]="'Enter email body here...'" formControlName="body"></angular-editor>
                </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">{{'emailTemplates.status' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-radio-group ngModel="ACTIVE" formControlName="status">
                        <label nz-radio nzValue="ACTIVE">Active</label>
                        <label nz-radio nzValue="INACTIVE">Inactive</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">All Departments</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-radio-group (ngModelChange)="onPublicChange($event)" formControlName="isPublic">
                        <label nz-radio [nzValue]="true">Yes</label>
                        <label nz-radio [nzValue]="false">No</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item >
            <nz-form-item *ngIf="!allDepartments">
                <nz-form-label [nzSpan]="6">Departments</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select
                        formControlName="departmentIds"
                        nzMode="multiple"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Departments"
                        (ngModelChange)="selectDepartments($event)"
                    >
                        <nz-option *ngFor="let option of listOfDepartments" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                    </nz-select>
                    <div class="department-actions">
                        <button nz-button nzSize="small" type="button" (click)="selectAllDepartments()">Select all departments</button>
                        <button nz-button nzSize="small" type="button" (click)="removeDepartments()">Remove departments</button>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <button *ngIf="!isUpdateMode" (click)="onFormSubmit()" nz-button type="submit" nzType="primary">Submit</button>
            <button *ngIf="isUpdateMode" (click)="onFormUpdateSubmit()" nz-button nzType="primary">Update</button>
        </form>
    </div>
</div>

<nz-modal
  [(nzVisible)]="shortcutsVisible"
  nzTitle="Variables disponibles"
  nzOkText="Cerrar"
  [nzCancelText]="null"
  [nzWidth]="920"
  (nzOnCancel)="shortcutsVisible = false"
  (nzOnOk)="shortcutsVisible = false"
>
  <div *nzModalContent class="shortcut-groups">
    <section *ngFor="let group of shortcutGroups" class="shortcut-group">
      <h3>{{ shortcutGroupTitle(group) }}</h3>
      <div
        class="shortcut-row"
        role="button"
        tabindex="0"
        *ngFor="let shortcut of shortcutsForGroup(group)"
        (click)="insertShortcut(shortcut.token)"
        (keydown.enter)="insertShortcut(shortcut.token)"
        (keydown.space)="insertShortcut(shortcut.token); $event.preventDefault()"
      >
        <span class="shortcut-variable">
          <strong>{{ shortcut.label || shortcut.token }}</strong>
          <span class="shortcut-token" (mousedown)="$event.stopPropagation()" (click)="$event.stopPropagation()">
            <code>{{ shortcut.token }}</code>
            <button
              nz-button
              nzSize="small"
              nzShape="circle"
              type="button"
              class="shortcut-copy"
              title="Copiar variable"
              (mousedown)="$event.stopPropagation()"
              (click)="copyShortcut(shortcut.token, $event)"
            >
              <span nz-icon nzType="copy" nzTheme="outline"></span>
            </button>
          </span>
        </span>
        <span class="shortcut-description">{{ shortcut.description }}</span>
      </div>
    </section>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="previewVisible"
  nzTitle="Previsualizacion del email"
  nzOkText="Cerrar"
  [nzCancelText]="null"
  [nzWidth]="860"
  (nzOnCancel)="previewVisible = false"
  (nzOnOk)="previewVisible = false"
>
  <div *nzModalContent class="email-preview">
    <p class="email-preview__sender">De: {{ emailForm.controls['senderName'].value || 'PSIRA' }}</p>
    <h2>{{ emailForm.controls['subject'].value || 'Sin asunto' }}</h2>
    <div class="email-preview__body" [innerHTML]="emailForm.controls['body'].value"></div>
  </div>
</nz-modal>
