<h1 *ngIf="userTitle">{{ userTitle }}</h1>

<nz-tabset>
  <nz-tab nzTitle="Profile">
    <app-form
      [form]="profileFields"
      [formData]="user"
      [resetForm]="resetForm"
      [populateForm]="populateForm"
      [isLoading]="isLoading"
      [loadingMessage]="loadingMessage"
      [inputMode]="inputMode"
      [showCancelButton]="showCancelButton"
      [showEditButton]="perms.permissionsOnly([PK.MANAGE_USERS]) && perms.hasAccessLevelToUser(user)"
      [form]="profileFields"
      (submitForm)="submitForm($event)"
    ></app-form>
  </nz-tab>
  <nz-tab nzTitle="Settings">
    <div nz-row nzGutter="16">
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Enable or Disable {{ user?.firstName }}">
          <p>To disable and Enable {{ user?.firstName }} toggle the switch below.</p>
          <nz-switch
            [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (ngModelChange)="activateUser(user)"
            [(ngModel)]="user.active"
          ></nz-switch>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Change {{ user?.firstName }}'s password">
          <p>To change password for {{ user.firstName }} toggle the button below.</p>
          <button
            [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (click)="showChangePasswordForm()"
            nz-button
            nzType="primary"
          >
            Change Password
          </button>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Delete User {{ user?.firstName }} ({{ user?.username }})">
          <p>To remove User {{ user?.firstName }} toggle the button below.</p>
          <button
            [disabled]="!perms.permissionsOnly([PK.DELETE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (click)="handleDeleteAction(user)"
            nz-button
            nzType="danger"
          >
            Delete User
          </button>
        </nz-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>

<nz-modal
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="clickChangePassword()"
>
  <app-form
    [form]="updatePasswordForm"
    [formData]="user"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [showSubmitButton]="false"
    [showCancelButton]="false"
    [loadingMessage]="loadingMessage"
    (submitForm)="submitForm($event)"
  ></app-form>
</nz-modal>
