<ng-container *ngIf="defaultRoleCode === 'SUPERVISOR' && newMode; else standardUserForm">
  <nz-drawer
    [nzWidth]="820"
    [nzMask]="true"
    [nzClosable]="true"
    [nzMaskClosable]="false"
    [nzVisible]="true"
    nzPlacement="right"
    [nzTitle]="'menu.newSupervisor' | translate"
    (nzOnClose)="closeSupervisorCreatePanel()"
  >
    <app-form
      [form]="profileFields"
      [formData]="user"
      [resetForm]="resetForm"
      [populateForm]="populateForm"
      [isLoading]="isLoading"
      [loadingMessage]="loadingMessage"
      [inputMode]="inputMode"
      [showCancelButton]="showCancelButton"
      [showEditButton]="perms.permissionsOnly([PK.MANAGE_USERS]) && perms.hasAccessLevelToUser(user)"
      (submitForm)="submitForm($event)"
    ></app-form>

    <div class="assignment-panel supervisor-create-assignment">
      <h3>{{ 'menu.therapists' | translate }}</h3>
      <ng-container *ngTemplateOutlet="therapistAssignment"></ng-container>
    </div>
  </nz-drawer>
</ng-container>

<ng-template #standardUserForm>
  <h1 *ngIf="userTitle">{{ userTitle }}</h1>

  <nz-tabset>
    <nz-tab nzTitle="Profile">
      <app-form
        [form]="profileFields"
        [formData]="user"
        [resetForm]="resetForm"
        [populateForm]="populateForm"
        [isLoading]="isLoading"
        [loadingMessage]="loadingMessage"
        [inputMode]="inputMode"
        [showCancelButton]="showCancelButton"
        [showEditButton]="perms.permissionsOnly([PK.MANAGE_USERS]) && perms.hasAccessLevelToUser(user)"
        (submitForm)="submitForm($event)"
      ></app-form>

      <div class="assignment-panel profile-assignment" *ngIf="defaultRoleCode === 'THERAPIST'">
        <h3>{{ 'menu.supervisors' | translate }}</h3>
        <ng-container *ngTemplateOutlet="supervisorAssignment"></ng-container>
      </div>

      <div class="assignment-panel profile-assignment" *ngIf="defaultRoleCode === 'SUPERVISOR'">
        <h3>{{ 'menu.therapists' | translate }}</h3>
        <ng-container *ngTemplateOutlet="therapistAssignment"></ng-container>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Settings">
      <div nz-row nzGutter="16">
        <div nz-col>
          <nz-card style="width: 300px" nzTitle="Enable or Disable {{ user?.firstName }}">
            <p>To disable and Enable {{ user?.firstName }} toggle the switch below.</p>
            <nz-switch
              [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
              (ngModelChange)="activateUser(user)"
              [(ngModel)]="user.active"
            ></nz-switch>
          </nz-card>
        </div>
        <div nz-col>
          <nz-card style="width: 300px" nzTitle="Change {{ user?.firstName }}'s password">
            <p>To change password for {{ user.firstName }} toggle the button below.</p>
            <button
              [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
              (click)="showChangePasswordForm()"
              nz-button
              nzType="primary"
            >
              Change Password
            </button>
          </nz-card>
        </div>
        <div nz-col>
          <nz-card style="width: 300px" nzTitle="Delete User {{ user?.firstName }} ({{ user?.username }})">
            <p>To remove User {{ user?.firstName }} toggle the button below.</p>
            <button
              [disabled]="!perms.permissionsOnly([PK.DELETE_USERS]) || !perms.hasAccessLevelToUser(user)"
              (click)="handleDeleteAction(user)"
              nz-button
              nzType="danger"
            >
              Delete User
            </button>
          </nz-card>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</ng-template>

<ng-template #supervisorAssignment>
  <div class="assignment-row">
    <nz-select
      [(ngModel)]="selectedSupervisorId"
      [nzLoading]="assignmentLoading"
      [nzPlaceHolder]="'menu.supervisors' | translate"
      class="assignment-select"
    >
      <nz-option
        *ngFor="let supervisor of availableSupervisors"
        [nzValue]="supervisor.id"
        [nzLabel]="supervisor.firstName + ' ' + supervisor.lastName"
      ></nz-option>
    </nz-select>
    <button nz-button nzType="primary" [disabled]="!user?.id || !selectedSupervisorId" (click)="assignSupervisor()">
      {{ 'core.add' | translate }}
    </button>
  </div>

  <ul nz-list [nzDataSource]="assignedSupervisors" [nzLoading]="assignmentLoading">
    <li nz-list-item *ngFor="let supervisor of assignedSupervisors" nzNoFlex>
      {{ supervisor.firstName }} {{ supervisor.lastName }}
    </li>
  </ul>
</ng-template>

<ng-template #therapistAssignment>
  <div class="assignment-row">
    <nz-select
      [(ngModel)]="selectedTherapistId"
      [nzLoading]="assignmentLoading"
      [nzPlaceHolder]="'menu.therapists' | translate"
      class="assignment-select"
    >
      <nz-option
        *ngFor="let therapist of availableTherapists"
        [nzValue]="therapist.id"
        [nzLabel]="therapist.firstName + ' ' + therapist.lastName"
      ></nz-option>
    </nz-select>
    <button nz-button nzType="primary" [disabled]="!user?.id || !selectedTherapistId" (click)="assignTherapist()">
      {{ 'core.add' | translate }}
    </button>
  </div>

  <ul nz-list [nzDataSource]="assignedTherapists" [nzLoading]="assignmentLoading">
    <li nz-list-item *ngFor="let therapist of assignedTherapists" nzNoFlex>
      {{ therapist.firstName }} {{ therapist.lastName }}
    </li>
  </ul>
</ng-template>

<nz-modal
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="clickChangePassword()"
>
  <app-form
    [form]="updatePasswordForm"
    [formData]="user"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [showSubmitButton]="false"
    [showCancelButton]="false"
    [loadingMessage]="loadingMessage"
    (submitForm)="submitForm($event)"
  ></app-form>
</nz-modal>
