<app-master-data-list
  [columns]="columns"
  [data]="randomizations"
  [pageInfo]="pageInfo"
  [loading]="loading"
  [actions]="actions"
  (pageChange)="onPageChange($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (executeAction)="onAction($event)"
  (rowClick)="openRandomization($event)"
>
  <div class="actions-left" actions-left>
    <app-master-data-search (search)="onSearch($event)"></app-master-data-search>
  </div>
  <ng-container actions-right>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      routerLink="/psira/randomizations/new"
      [title]="'randomizations.create' | translate"
    >
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>
