<div class="buttons" *ngIf="!embedded">
    <button nz-button nzType="primary" (click)="goBack(patient)">Back</button>
</div>
<h1 *ngIf="patientTitle && !embedded">{{ patientTitle }}</h1>
<div nz-row [nzGutter]="200">
    <div nz-col nzSpan="10">
        <form nz-form [nzLayout]="'inline'" [formGroup]="formGroup" (submit)="onSubmitAssessment()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group class="input-class">
                        <h5>Tipo de evaluación</h5>
                        <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedAssessment" formControlName="assessmentTypeId">
                            <nz-option *ngFor="let a of assessmentAdministration" [nzLabel]="a.name" [nzValue]="a.id">{{
                a.name
            }}</nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control class="input-class">
                    <h5>Nombre de la evaluación (opcional)</h5>
                    <input [disableControl]="!editMode" formControlName="name" nz-input placeholder="Si se deja vacío se usará el tipo de evaluación" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control class="input-class">
                    <h5>Administradores del caso</h5>
                    <nz-select
                        [nzBorderless]="!editMode"
                        class="input-class"
                        [nzDisabled]="!editMode"
                        [(ngModel)]="selectedResponsibleUserIds"
                        (ngModelChange)="onResponsibleUsersChange($event)"
                        formControlName="responsibleUserIds"
                        nzMode="multiple"
                        nzAllowClear
                        nzShowSearch
                        nzNotFoundContent="No hay administradores asignados al caso."
                    >
                        <nz-option
                            *ngFor="let administrator of caseAdministratorOptions()"
                            [nzLabel]="userLabel(administrator)"
                            [nzValue]="administrator.id"
                        ></nz-option>
                    </nz-select>
                    <p>
                        <b>Tip:
                        </b>Only case administrators assigned to the patient are shown.</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin-bottom: 15px">
                <nz-radio-group formControlName="informantType" nzButtonStyle="solid" [nzDisabled]="!editMode" [(ngModel)]="typeSelected" (ngModelChange)="onSelectChange($event)">
                    <h5>Who responds?</h5>
                    <label nz-radio-button nzValue="PATIENT">{{ 'createAssessment.patient' | translate }}</label>
                    <label nz-radio-button nzValue="CAREGIVER">{{ 'createAssessment.patientsCaregiver' | translate }}</label>
                    <label nz-radio-button nzValue="CASE_MANAGER">Case administrator</label>
                    <label nz-radio-button nzValue="OTHER_USER">Other user</label>
                </nz-radio-group>
            </nz-form-item>
            <nz-form-item *ngIf="typeSelected === 'PATIENT'">
                <nz-input-group>
                    <h5>{{ 'createAssessment.patient' | translate }}</h5>
                    <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedInformant" (ngModelChange)="onResponderSelect($event)" formControlName="responderUserId">
                        <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
            data.label
            }}</nz-option>
                    </nz-select>
                    <p>Self Rating.</p>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item *ngIf="typeSelected === 'CASE_MANAGER' || typeSelected === 'OTHER_USER'">
                <nz-input-group>
                    <h5>{{ typeSelected === 'CASE_MANAGER' ? 'Case administrator' : ('createAssessment.departmentsUser' | translate) }}</h5>
                    <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedInformant" (ngModelChange)="onResponderSelect($event)" formControlName="responderUserId">
                        <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
            data.label
            }}</nz-option>
                    </nz-select>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item *ngIf="typeSelected === 'CAREGIVER'">
                <nz-input-group>
                    <h5>{{ 'createAssessment.patientsCaregiver' | translate }}</h5>
                    <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedInformant" (ngModelChange)="onResponderSelect($event)" formControlName="responderUserId">
                        <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
            data.label
            }}</nz-option>
                    </nz-select>
                </nz-input-group>
            </nz-form-item>
            <!-- Start Update -->
            <div *ngIf="isUpdate === true" class="date-picker">
            <h5 class="evaluation-title">Evaluation</h5>
            <nz-form-item>
                <nz-input-group class="date-picker1">
                <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
                <nz-date-picker
                    [nzBorderless]="!editMode"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm"
                    [nzDisabled]="!editMode"
                    [(ngModel)]="deliveryDate"
                    formControlName="deliveryDate"
                    (ngModelChange)="onChangeDelivery($event)"
                ></nz-date-picker>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item>
                <nz-input-group class="date-picker1">
                <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
                <nz-date-picker
                    [nzBorderless]="!editMode"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm"
                    [nzDisabled]="!editMode"
                    [(ngModel)]="expireDate"
                    formControlName="expirationDate"
                    (ngModelChange)="onChangeExpire($event)"
                ></nz-date-picker>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item>
                <nz-input-group class="date-picker1">
                <h5>Recordatorios después de la activación</h5>
                <div class="unit-row">
                    <input
                        [disableControl]="!editMode"
                        formControlName="reminderMinutes"
                        nz-input
                        placeholder="10, 15, 20"
                    />
                    <nz-select formControlName="reminderUnit" [nzDisabled]="!editMode">
                        <nz-option *ngFor="let unit of timeUnits" [nzValue]="unit.value" [nzLabel]="unit.label"></nz-option>
                    </nz-select>
                </div>
                </nz-input-group>
            </nz-form-item>
            </div>
            <!-- End Update -->

            <!-- Start -->
            <div *ngIf="isUpdate === false && datesFieldAsFormArray.controls.length" formArrayName="dates">
                <div [formGroupName]="0">
                    <div class="date-picker">
                        <nz-form-item>
                        <nz-input-group class="date-picker1">
                            <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
                            <nz-date-picker
                            [nzBorderless]="!editMode"
                            nzShowTime
                            nzFormat="yyyy-MM-dd HH:mm"
                            [nzDisabled]="!editMode"
                            formControlName="deliveryDate"
                            ></nz-date-picker>
                        </nz-input-group>
                        </nz-form-item>
                        <nz-form-item>
                        <nz-input-group class="date-picker1">
                            <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
                            <nz-date-picker
                            [nzBorderless]="!editMode"
                            nzShowTime
                            nzFormat="yyyy-MM-dd HH:mm"
                            [nzDisabled]="!editMode"
                            formControlName="expirationDate"
                            ></nz-date-picker>
                        </nz-input-group>
                        </nz-form-item>
                        <nz-form-item>
                        <nz-input-group class="date-picker1">
                            <h5>Recordatorios después de la activación</h5>
                            <div class="unit-row">
                                <input
                                [disableControl]="!editMode"
                                formControlName="reminderMinutes"
                                nz-input
                                placeholder="10, 15, 20"
                                />
                                <nz-select formControlName="reminderUnit" [nzDisabled]="!editMode">
                                    <nz-option *ngFor="let unit of timeUnits" [nzValue]="unit.value" [nzLabel]="unit.label"></nz-option>
                                </nz-select>
                            </div>
                        </nz-input-group>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <!-- End -->
            <nz-form-item>
                <nz-input-group class="input-class">
                    <h5>Nota clínica de evaluación</h5>
                    <nz-textarea-count [nzMaxCharacterCount]="200" placeholder="Write notes">
                        <textarea [disableControl]="!editMode" formControlName="note" [(ngModel)]="noteValue" nz-input [disabled]="!editMode"></textarea>
                    </nz-textarea-count>
                </nz-input-group>
            </nz-form-item>
            <div *ngIf="editMode" style="margin-top: 20px; display: flex; justify-content: space-between">
                <button nz-button class="button" style="margin-right: 10px" type="button" (click)="cancelEdit()">Cancel</button>
                <button nz-button nzType="primary" class="button" [disabled]="!formGroup.valid">Submit</button>
            </div>
            <button nz-button nzType="primary" type="button" *ngIf="!editMode" (click)="editMode = !editMode">
                Edit Note
            </button>
        </form>
    </div>
    <div nz-col class="questionnaire" nzSpan="14">
        <h4>Contenido de evaluación</h4>
        <nz-select
            style="width: 100%; margin-bottom: 12px;"
            [nzDisabled]="!editMode"
            [(ngModel)]="assessmentContentType"
            (ngModelChange)="onAssessmentContentTypeChange($event)"
        >
            <nz-option [nzValue]="ACT.QUESTIONNAIRE" nzLabel="Cuestionario"></nz-option>
            <nz-option [nzValue]="ACT.QUESTIONNAIRE_BUNDLE" nzLabel="Paquete de cuestionarios"></nz-option>
            <nz-option [nzValue]="ACT.RANDOMIZATION" nzLabel="Randomización"></nz-option>
        </nz-select>
        <app-questionnaire-selection
            *ngIf="assessmentContentType === ACT.QUESTIONNAIRE"
            [readonly]="!editMode"
            [singleSelection]="true"
            [departmentIds]="patientDepartmentIds()"
            [selectedQuestionnaires]="selectedQuestionnaires"
            (selectionChange)="onQuestionnaireSelected($event)"
        ></app-questionnaire-selection>
        <nz-select
            *ngIf="assessmentContentType === ACT.QUESTIONNAIRE_BUNDLE"
            style="width: 100%;"
            nzPlaceHolder="Select your bundle..."
            nzNotFoundContent="No hay contenido disponible para los departamentos seleccionados."
            [nzDisabled]="!editMode"
            [ngModel]="listOfSelectedBundles && listOfSelectedBundles[0]"
            (ngModelChange)="onBundleSelection($event)"
        >
            <nz-option *ngFor="let option of listOfBundles" [nzLabel]="option?.node?.name" [nzValue]="option?.node?._id"></nz-option>
        </nz-select>
        <nz-select
            *ngIf="assessmentContentType === ACT.RANDOMIZATION"
            style="width: 100%;"
            nzShowSearch
            nzPlaceHolder="Seleccionar randomización..."
            nzNotFoundContent="No hay contenido disponible para los departamentos seleccionados."
            [nzDisabled]="!editMode"
            [ngModel]="listOfSelectedRandomizations && listOfSelectedRandomizations[0]"
            (ngModelChange)="onRandomizationSelection($event)"
        >
            <nz-option *ngFor="let randomization of listOfRandomizations" [nzLabel]="randomization.name" [nzValue]="randomization.id"></nz-option>
        </nz-select>
        <br />
        <br />
    </div>
</div>
<!--  -->
<hr *ngIf="!embedded">
<div style="margin-top: 15px; margin-bottom: 15px;" *ngIf="!embedded">
    <h5>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        Questionnaire Link</h5>
    <br/>
</div>
<div class="link-container" *ngIf="!embedded && fullAssessment?.uuid !== null && fullAssessment?.uuid !== undefined">
    <a style="margin-right: 10px;" target="_blank" [href]="assessmentUrl">{{ this.assessmentUrl?.toString().slice(0, 50) }}...</a>
    <button (click)="copyAssessmentLink(this.assessmentUrl)" nz-button nzType="default" nzShape="circle"><span nz-icon nzType="copy"></span></button>
</div>
