<app-master-data-list
  [columns]="columns"
  [data]="filteredManagements"
  [loading]="loading"
  [actions]="actions"
  (executeAction)="onAction($event)"
  (rowClick)="open($event.source)"
  (sort)="onSort($event)"
>
  <div class="actions-left" actions-left>
    <app-master-data-search (search)="onSearch($event)"></app-master-data-search>
    <button nz-button type="button" (click)="resetFilters()">Restablecer</button>
  </div>
  <ng-container actions-right>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      (click)="create()"
      title="Crear gestión"
      *ngIf="perms.permissionsOnly(PK.INFORMED_CONSENT_MANAGEMENT_EDIT_DEPARTMENT)"
    >
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>
