<p class="info-tip">
  <span nz-icon nzType="info-circle" nzTheme="outline"></span>
  {{ 'questionnaires.xlsValidationPrefix' | translate }}
  <a target="_blank" href="https://getodk.org/xlsform/">{{ 'questionnaires.xlsValidationLink' | translate }}</a>
  {{ 'questionnaires.xlsValidationSuffix' | translate }}
</p>
<div class="parent-div">
  <div class="form-div">
    <app-form
      class="mt-3"
      [form]="form"
      [formData]="formData"
      [isLoading]="loading"
      [populateForm]="populateForm"
      [resetForm]="resetForm"
      [inputMode]="inputMode"
      [showCancelButton]="false"
      [showEditButton]="perms.permissionsOnly(PK.QUESTIONNAIRES_EDIT_DEPARTMENT)"
      (submitForm)="onSubmit($event)"
      (inputModeChanged)="inputMode = $event"
    ></app-form>
  </div>
  <div class="keyword-container">
    <p class="keyword-title"><b>{{ 'core.departments' | translate }}</b></p>
    <nz-select
      [disabled]="!inputMode"
      nzMode="multiple"
      nzShowSearch
      nzAllowClear
      [nzPlaceHolder]="'core.departments' | translate"
      [(ngModel)]="selectedDepartments"
    >
      <nz-option
        *ngFor="let department of listOfDepartments"
        [nzLabel]="department.name"
        [nzValue]="department.id"
      ></nz-option>
    </nz-select>
    <div class="department-actions">
      <button nz-button nzSize="small" type="button" [disabled]="!inputMode" (click)="selectAllDepartments()">{{ 'core.selectAll' | translate }}</button>
      <button nz-button nzSize="small" type="button" [disabled]="!inputMode" (click)="removeDepartments()">{{ 'questionnaireBundles.removeDepartments' | translate }}</button>
    </div>

    <p class="keyword-title"><b>{{ 'questionnaires.keywords' | translate }}</b></p>
    <nz-select nz-tooltip [nzTooltipTitle]="titleTemplate" nzTooltipPlacement="bottomLeft" [disabled]="!inputMode" nzMode="tags" [nzPlaceHolder]="'questionnaires.keywords' | translate" [(ngModel)]="listOfTagOptions">
      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
    </nz-select>
    <div class="margin-top">
      <p class="keyword-title"><b>{{ 'questionnaires.description' | translate }}</b></p>
      <angular-editor [config]="editorConfig" [placeholder]="'questionnaires.descriptionPlaceholder' | translate" [(ngModel)]="customDescription"></angular-editor>
    </div>
  </div>
  <ng-template #titleTemplate>
    <span>{{ 'questionnaires.keywordHelp' | translate }}</span>
  </ng-template>
</div>
