<app-master-data-list
  [data]="data"
  [columns]="columns"
  [loading]="isLoading"
  [pageInfo]="pageInfo"
  [actions]="actions"
  (pageChange)="onPageChange($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (executeAction)="onAction($event)"
>
  <ng-container actions-right>
    <button nz-button nzType="primary" nzShape="circle" (click)="openCreatePanel()">
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>

<nz-drawer
  [nzWidth]="400"
  [nzMask]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzVisible]="showCreateAssessmentAdministration"
  nzPlacement="right"
  [nzTitle]="assessmentAdministration?.id ? 'Edit Assessment Name' : 'Create Assessment Name'"
  (nzOnClose)="closeCreatePanel()"
>
  <form class="mt-3" #assessmentTypeForm="ngForm" (ngSubmit)="submitAssessmentTypeDraft()">
    <label><b>{{ 'forms.assessmentAdministration.typeName' | translate }} <span style="color: red">*</span></b></label>
    <input
      class="m-b-15"
      nz-input
      name="assessmentTypeName"
      required
      autocomplete="off"
      [(ngModel)]="assessmentAdministration.name" (input)="assessmentAdministration.name = $any($event.target).value"
      [placeholder]="'forms.assessmentAdministration.typeNameDescription' | translate"
    />

    <label><b>{{ 'forms.assessmentAdministration.status' | translate }} <span style="color: red">*</span></b></label>
    <nz-select class="m-b-15" style="width: 100%" name="assessmentTypeStatus" required [(ngModel)]="assessmentAdministration.status">
      <nz-option nzValue="ACTIVE" nzLabel="ACTIVE"></nz-option>
      <nz-option nzValue="INACTIVE" nzLabel="INACTIVE"></nz-option>
    </nz-select>

    <button nz-button nzType="primary" nzShape="round" class="full-width" [disabled]="assessmentTypeForm.invalid || isLoading">
      {{ assessmentAdministration?.id ? ('assessmentAdministration.editType' | translate) : ('assessmentAdministration.createAssessmentName' | translate) }}
    </button>
  </form>
</nz-drawer>
