<app-master-data-list
  [data]="data"
  [columns]="columns"
  [loading]="loading"
  [pageInfo]="pageInfo"
  [actions]="actions"
  (pageChange)="onPageChange($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (rowClick)="onUserSelect($event)"
  (executeAction)="onAction($event)"
>
  <ng-container actions-left>
    <app-master-data-search (search)="onSearch($event)"></app-master-data-search>
  </ng-container>
  <ng-container actions-right>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      [routerLink]="roleCodeFilter === 'THERAPIST'
        ? '/psira/user-management/therapist-form'
        : roleCodeFilter === 'SUPERVISOR'
          ? '/psira/user-management/supervisor-form'
          : '/psira/user-management/user-form'"
      [queryParams]="roleCodeFilter ? { roleCode: roleCodeFilter } : null"
      *ngIf="perms.permissionsOnly([PK.USERS_EDIT_DEPARTMENT])"
    >
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>
