<nz-tabset nzSize="large">
  <nz-tab nzTitle="General">
    <div class="container-fluid">
      <div class="row m-t-20">
        <div *ngIf="assessmentsLoading" class="col-md-12 text-center">
          <nz-spin nzSize="large"></nz-spin>
        </div>

        <div *ngIf="!assessmentsLoading && assessments.length === 0" class="col-md-12">
          <nz-empty nzNotFoundContent="No pending assessments"></nz-empty>
        </div>

        <div *ngFor="let assessment of assessments" class="col-md-4 m-b-20">
          <nz-card [nzTitle]="assessment.name" [nzExtra]="extraTemplate">
            <div class="assessment-details">
              <p><strong>Date:</strong> {{ assessment.createdAt | date:'shortDate' }}</p>
              <p><strong>Status:</strong>
                <nz-tag [nzColor]="assessment.formattedStatus?.color">{{ assessment.status }}</nz-tag>
              </p>
              <p><strong>Type:</strong> {{ assessment.formattedAssessmentType }}</p>
            </div>
            <ng-template #extraTemplate>
              <button nz-button nzType="primary" (click)="startAssessment(assessment)">Start</button>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Reports" *ngIf="reports.length > 0">
    <app-reports></app-reports>
  </nz-tab>
</nz-tabset>

<nz-modal [nzStyle]="{}" nzOkText="I accept" [(nzVisible)]="!acceptedTerm">
  <ng-container *nzModalContent>
    <p class="icon"><i class="fas fa-info-circle"></i></p>
    <p class="title">Welcome to PSIRA</p>
    <p class="description">{{ disclaimer?.description }}</p>
    <!--    <div class="button-div" *nzModalFooter>-->
    <!--      <button nz-button nzType="primary" class="modal-button" (click)="updateUser()">I Accept</button>-->
    <!--    </div>-->
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" style="" class="modal-button" (click)="updateUser()">I Accept</button>
  </ng-container>
</nz-modal>
